In [7]:
#Q1
radius = float(input("Enter the radius: "))
area = 3.14 * radius * radius
print("Area of Circle is", area)

Enter the radius: 3
Area of Circle is 28.259999999999998

In [6]:
#Q2
name = input("Enter the name: ")
roll = input("Enter the roll number: ")
mark = input("Enter the mark: ")

print("Name:", name)
print("Roll No:", roll )
print("Mark:", mark)

Enter the name: Anisha
Enter the roll number: 21
Enter the mark: 78
Name: Anisha
Roll No: 21
Mark: 78

In [5]:
#Q3
numbers_list = [int(num) for num in input("Enter numbers separated by commas: ").split(',')]
print("Largest number:", max(numbers_list))

Enter numbers separated by commas: 12, 3, 47, 10
Largest number: 47

In [4]:
#Q4
pre_no = 0

for current_no in range(1, 11):
    print(f"Current Number {current_no} Previous Number {pre_no} Sum: {current_no + pre_no}")
    pre_no = current_no

Current Number 1 Previous Number 0 Sum: 1
Current Number 2 Previous Number 1 Sum: 3
Current Number 3 Previous Number 2 Sum: 5
Current Number 4 Previous Number 3 Sum: 7
Current Number 5 Previous Number 4 Sum: 9
Current Number 6 Previous Number 5 Sum: 11
Current Number 7 Previous Number 6 Sum: 13
Current Number 8 Previous Number 7 Sum: 15
Current Number 9 Previous Number 8 Sum: 17
Current Number 10 Previous Number 9 Sum: 19

In [3]:
#Q5
input_no = input("Enter numbers: ")
numbers = [int(num) for num in input_no.split(',')]

div_by_5 = []
for num in numbers:
    if num % 5 == 0:
        div_by_5.append(num)

if len(div_by_5) > 0:
    print("Numbers divisible by 5:", ", ".join(map(str, div_by_5)))

Enter numbers: 10, 20,33,46,55
Numbers divisible by 5: 10, 20, 55

In [1]:
#Q6
def is_prime(number):
    if number <= 1:
        return False
    for i in range(2, number):
        if number % i == 0:
            return False
    return True

num = int(input("Enter the number: "))

if is_prime(num):
    print(f"{num} is a prime number.")
else:
    print(f"{num} is not a prime number.")

Enter the number: 3
3 is a prime number.

In [2]:
#Q9
numbers = input("Enter three numbers separated by commas: ").split(',')
num1, num2, num3 = map(int, numbers)

maximum = max(num1, num2, num3)

print("The maximum number is:", maximum)

Enter three numbers separated by commas: 34,12,7
The maximum number is: 34

In [1]:
#Q7
input_list = input("Enter elements of the list separated by spaces: ").split()
reversed_list = [input_list[i] for i in range(len(input_list) - 1, -1, -1)]
print("Reversed list:", ", ".join(reversed_list))

Enter elements of the list separated by spaces: 10 40 30 70
Reversed list: 70, 30, 40, 10

In [8]:
#Q8
def print_pattern(rows):
    for i in range(1, rows + 1):
        print('*' * i)

print_pattern(4)

*
**
***
****

In [9]:
#Q10
def print_pattern(rows):
    for i in range(1, rows + 1):
        print('*' * i)

    for i in range(rows - 1, 0, -1):
        print('*' * i)

rows = 5
print_pattern(rows)

*
**
***
****
*****
****
***
**
*